{
    "compact": false,
    "presets": [
        // [
        //     "env",
        //     {
        //         "modules": false
        //     }
        // ],
        // "stage-2",
        // "react",
        "@babel/preset-react",
        "@babel/preset-env"
        // [
        //     "@babel/preset-env",
        //     {
        //         "useBuiltIns": "entry"
        //     }
        // ]
    ]
    // "plugins": ["transform-decorators-legacy"]
}