.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* >div {
        flex: 1;
        background-color: #f00;
    }
    >footer {
        width: 100%;
        line-height: 60px;
        display: flex;
    } */
}



/* 伪元素::placeholder可以选择一个表单元素的占位文本，它允许开发者和设计师自定义占位文本的样式。
https://developer.mozilla.org/zh-CN/docs/Web/CSS/::placeholder
 */
::placeholder {
    color: #f00;
}

div {
    flex: 1;
    background-color: #ccc;
}
footer {
    width: 100%;
    line-height: 60px;
    display: flex;
}
body {
    margin: 0;
}
.pxtorem {
    font-size: 1rem;
    /* font-size: 75px; */
}